@{
    ViewData["Title"] = "Not Authorized";
}
<div>
    <div class="num-not-authorized">
        <span>403</span>
    </div>
    <div class="not-authorized">
        <img src="~/images/lock.png" />
        <h1>Access Denied!</h1>
    </div>
    <p class="p-not-authorized">Sorry, you do not have permission to view the resource</p>

    <div>
        <a asp-controller="Home" asp-action="Index" class="btn btn-light">Back to Home</a>
    </div>
    <br /><br />
</div>

    