
@{
    ViewData["Title"] = "About";
}

<!--explore start -->
<section id="explore" class="explore">
	<div class="container">
		<div class="section-header">
			<h2>About Us</h2>
			<p>More than a school, we are a space for discovery and transformation. We believe in an education that prepares our students for the future, stimulating creativity, collaboration and critical thinking. Our team of passionate educators provides a dynamic and inspiring learning environment where every student can develop to their full potential.</p>
		</div><!--/.section-header-->
		<div class="explore-content">
			<div class="row">
				<div class=" col-md-4 col-sm-6">
					<div class="single-explore-item">
						<div class="single-explore-img">
							<img src="~/images/school_2.jpg" alt="explore image">	
						</div>
						<div class="single-explore-txt bg-theme-1">
							<h2><a href="#">Flexible spaces</a></h2>
							<div class="explore-person">
								<div class="row">									
									<div class="col-sm-12">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis augue vel dolor egestas suscipit. Fusce feugiat, odio sit amet vehicula vehicula purus.
										</p>
									</div>
								</div>
							</div>							
						</div>
					</div>
				</div>
				<div class=" col-md-4 col-sm-6">
					<div class="single-explore-item">
						<div class="single-explore-img">
							<img src="~/images/school_3.jpg"  alt="explore image">	
						</div>
						<div class="single-explore-txt bg-theme-1">
							<h2><a href="#">Welcoming environments</a></h2>
							<div class="explore-person">
								<div class="row">									
									<div class="col-sm-12">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis augue vel dolor egestas suscipit. Fusce feugiat, odio sit amet vehicula vehicula purus.
										</p>
									</div>
								</div>
							</div>							
						</div>
					</div>
				</div>
				<div class=" col-md-4 col-sm-6">
					<div class="single-explore-item">
						<div class="single-explore-img">
							<img src="~/images/school_4.jpg" alt="explore image">
						</div>
						<div class="single-explore-txt bg-theme-1">
							<h2><a href="#">Lorem ipsum dolor sit</a></h2>
							<div class="explore-person">
								<div class="row">
									<div class="col-sm-12">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis augue vel dolor egestas suscipit. Fusce feugiat, odio sit amet vehicula vehicula purus.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class=" col-md-4 col-sm-6">
					<div class="single-explore-item">
						<div class="single-explore-img">
							<img src="~/images/school_7.jpg" alt="explore image">
						</div>
						<div class="single-explore-txt bg-theme-1">
							<h2><a href="#">Lorem ipsum dolor sit</a></h2>
							<div class="explore-person">
								<div class="row">
									<div class="col-sm-12">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis augue vel dolor egestas suscipit. Fusce feugiat, odio sit amet vehicula vehicula purus.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class=" col-md-4 col-sm-6">
					<div class="single-explore-item">
						<div class="single-explore-img">
							<img src="~/images/school_5.jpg" alt="explore image">	
						</div>
						<div class="single-explore-txt bg-theme-1">
							<h2><a href="#">Lorem ipsum dolor sit</a></h2>
							<div class="explore-person">
								<div class="row">									
									<div class="col-sm-12">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis augue vel dolor egestas suscipit. Fusce feugiat, odio sit amet vehicula vehicula purus.
										</p>
									</div>
								</div>
							</div>							
						</div>
					</div>
				</div>
				<div class=" col-md-4 col-sm-6">
					<div class="single-explore-item">
						<div class="single-explore-img">
							<img src="~/images/school_6.jpg" alt="explore image">	
						</div>
						<div class="single-explore-txt bg-theme-1">
							<h2><a href="#">Lorem ipsum dolor sit</a></h2>
							<div class="explore-person">
								<div class="row">									
									<div class="col-sm-12">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis augue vel dolor egestas suscipit. Fusce feugiat, odio sit amet vehicula vehicula purus.
										</p>
									</div>
								</div>
							</div>							
						</div>
					</div>
				</div>						
			</div>
		</div>
	</div><!--/.container-->

</section><!--/.explore-->
<!--explore end -->
