@{
    ViewData["Title"] = "Home Page";
}

<!--welcome-hero start -->
<div id="home" class="welcome-hero">
	<div class="container">
		<div class="welcome-hero-txt">
			<h2>The future starts here... <br> quality education for a lifetime </h2>
			<p>
				Innovating every day, inspiring forever.
			</p>
		</div>		
	</div>
</div><!--/.welcome-hero-->
<!--welcome-hero end -->
<br/>
<br />
<br />
<!--works start -->
<div id="works" class="works">
	<div class="container">
		<div class="section-header">
			<h2>how we teach</h2>
			<p>Our values ​​and principles</p>
		</div><!--/.section-header-->
		<div class="works-content">
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="single-how-works">
						<div class="single-how-works-icon">
							<i class="flaticon-lightbulb-idea"></i>
						</div>
						<h2><a href="#">Active <span>and Collaborative</span> Learning</a></h2>
						<p>
							We believe that learning is most effective when it is active and collaborative. We encourage students to develop essential skills such as critical thinking and communication.
						</p>
						<button class="welcome-hero-btn how-work-btn">
							read more
						</button>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="single-how-works">
						<div class="single-how-works-icon">
							<i class="flaticon-networking"></i>
						</div>
						<h2> 
							<a href="#">
								Innovation <span>and Technology</span>
							</a>
						</h2>
						<p>
							We live in a world in constant transformation. Therefore, we invest in technology and innovative methodologies so that our students are prepared for the challenges of the future.
						</p>
						<button class="welcome-hero-btn how-work-btn">
							read more
						</button>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="single-how-works">
						<div class="single-how-works-icon">
							<i class="flaticon-placeholder"></i>
						</div>
						<h2><a href="#">Integral  <span> Development</span> </a></h2>
						<p>
							We seek the integral development of our students through extracurricular activities, such as arts, sports and social projects, we encourage the formation of conscious and engaged citizens.
						</p>
						<button class="welcome-hero-btn how-work-btn">
							read more
						</button>
					</div>
				</div>
			</div>
		</div>
	</div><!--/.container-->

</div><!--/.works-->
<!--works end -->



