@model School.Data.Entities.Subject

@{
    ViewData["Title"] = "Create";
}

<h2>Create Subject</h2>
<hr />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workload" class="control-label"></label>
                <input asp-for="Workload" class="form-control" />
                <span asp-validation-for="Workload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttendancePercentageMin" class="control-label"></label>
                <input asp-for="AttendancePercentageMin" class="form-control" />
                <span asp-validation-for="AttendancePercentageMin" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create"  class="btn btn-warning" />
                <a asp-action="Index" class="btn btn-success">>Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
