@model School.Models.ChangeUserViewModel
    
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit User</h2>

<hr />
<<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post" asp-action="Edit">
            <div asp-validation-summary="ModelOnly"></div>       
            <input type="hidden" asp-for="Username" />

            <div class="form-group">
                <label asp-for="FirstName">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateBirth" class="control-label"></label>
                <div class="input-group date" date-provide="datepicker">
                    <input type="text" asp-for="DateBirth" class="form-control" />
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                    </div>
                    <span asp-validation-for="DateBirth" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Address">Address</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode">Postal Code</label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nif">Nif</label>
                <input asp-for="Nif" class="form-control" />
                <span asp-validation-for="Nif" class="text-warning"></span>
            </div>           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                @if (this.User.Identity.IsAuthenticated && (this.User.IsInRole("Admin") || this.User.IsInRole("Employee")))
                {
                    <a asp-action="Index" class="btn btn-success"> <i class="fa fa-chevron-left"></i> Back to List</a>
                }
                else
                {
                    <a asp-controller="Home" asp-action="Index" class="btn btn-success"> <i class="fa fa-chevron-left"></i> Cancel</a>
                }
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <script type="text/javascript">
        $(document).ready(function() {
            $('.date').datepicker({
                orientation: "bottom",
                autoclose: true,
                format: "dd/mm/yyyy"
            });
        });

    </script>
}
